@{
    ViewBag.Title = "Users Page";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody> 

        @foreach (var customer in Model)
        {

            <tr >
                <td >@customer.Id</td>
                <td> @Html.ActionLink(customer.Name, "Details", "Users", new { id = customer.Id }, null)</td>

            </tr>
        }

    </tbody>
</table>
