<!DOCTYPE html>
<html lang="en">
    <head>
        <!--BootstrapCDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!--FontAwesomeCDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!--CustomCSS-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!--GoogleFonts-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShopSite</title>
    </head>
    <body>
        <div class="vh-100 container">
            <div class="vh-100 row justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <form name="signupForm" id="signupForm" class="signupForm shadow p-4 m-2 bg-white rounded">
                        <div class="row justify-content-center">
                            <i class="fab fa-stripe-s mb-2"></i>
                        </div>
                        <div class="row justify-content-center">
                            <h2 class="mb-4">Registration</h1>
                        </div>

                        <label for="firstNameRegisterInput">First name</label>
                        <input type="text" id="firstNameRegisterInput" name="firstNameRegisterInput" class="form-control mb-2" required autofocus>
                        <div id="firstNameRegisterInput_validation" class="invalid-feedback d-block"></div>
                        
                        <label for="lastNameRegisterInput">Last name</label>
                        <input type="text" id="lastNameRegisterInput" name="lastNameRegisterInput" class="form-control mb-2" required>
                        <div id="lastNameRegisterInput_validation" class="invalid-feedback d-block"></div>

                        <label for="emailAddressRegisterInput">Email address</label>
                        <input type="email" id="emailAddressRegisterInput" name="emailAddressRegisterInput" class="form-control mb-2" required>
                        <div id="emailAddressRegisterInput_validation" class="invalid-feedback d-block"> </div>

                        <label for="passwordRegisterInput">Password</label>
                        <input type="password" id="passwordRegisterInput" name="passwordRegisterInput" class="form-control mb-2" required>
                        <div id="passwordRegisterInput_validation" class="invalid-feedback d-block"> </div>

                        <label for="passwordRegisterInput2">Confirm password</label>
                        <input type="password" id="passwordRegisterInput2" name="passwordRegisterInput2" class="form-control mb-2" required>
                        <div id="passwordRegisterInput2_validation" class="invalid-feedback d-block"> </div>
                        
                        <input type="submit" id="signupInput" name="signupInput" value="Sign up" class="bt btn-lg btn-primary btn-block mt-3 mb-1">
                        <p class="text-center">Already have account? <a href="login.html">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>
        <!--BootstrapJS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!--JQueryValidation-->
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
        <!--CustomJS-->
        <script src="js/register.js" type="text/javascript"></script>
    </body>
</html>