@{
    ViewBag.Title = "Adresy do wysyłki";
}


@Styles.Render("~/bundles/UserPanel")
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
@Html.Partial("_SideBar")


<div class="container pl-5">
    <div class="row">
        <div class="col-12">
            <div class="use-add-product">

                <form class="form-horizontal" method="post">

                    <fieldset class="add-produt">

                        <h4>Dodaj adres wysyłki</h4>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Country">Kraj</label>
                            <div class="col-md-4">
                                <input id="countryAdress" name="Country" placeholder="Country" class="form-control input-md" type="text" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="City">Miasto</label>
                            <div class="col-md-4">
                                <input id="cityAdress" name="City" placeholder="City" class="form-control input-md" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Street">Ulica</label>
                            <div class="col-md-4">
                                <input id="streetAdress" name="Street" placeholder="Street" class="form-control input-md" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="PremisesNumber">Numer lokalu</label>
                            <div class="col-md-4">
                                <input id="premisesNumber" name="PremisesNumber" placeholder="Premises number" class="form-control input-md" type="text">
                                <small id="premisesNumberHelp" class="form-text text-muted">Pole nie jest wymagane.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="PostalCode">Kod pocztowy</label>
                            <div class="col-md-4">
                                <input id="postalCode" name="PostalCode" placeholder="Postal code" class="form-control input-md" type="text">
                                <small id="postalCodeHelp" class="form-text text-muted">Pole nie jest wymagane.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input type="submit" value="Dodaj" class="btn btn-dark" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

