@model ShopApp.Models.User
@{
    ViewBag.Title = "Edycja hasła";
}

@Styles.Render("~/bundles/UserPanel")
@Html.Partial("_SideBar")

<div class="container pl-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">

                            @Html.Partial("_SettingsSideBar", Model)

                            <div class="content-panel">
                                <form class="form-horizontal" method="post">
                                    <h3 class="fieldset-title">Zmiana hasła</h3>
                                    <fieldset class="fieldset">

                                        <label for="oldPasswordInput">Aktualne hasło</label>
                                        <input type="password" id="oldPasswordInput" name="OldPassword" class="form-control mb-2" required>

                                        <label for="oldPasswordInput">Nowe hasło</label>
                                        <input type="password" id="newPasswordInput" name="NewPassword" class="form-control mb-2" required>

                                        <label for="oldPasswordInput">Powtórz nowe hasło</label>
                                        <input type="password" id="passwordChangeInputValidation" name="NewPasswordValidation" class="form-control mb-2" required>

                                    </fieldset>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                            <input class="btn btn-dark" type="submit" value="Zmień hasło">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>
