@model ShopApp.Models.User
@{
    ViewBag.Title = "Edycja Avatara";

    string avatarUrl = string.Empty;
    string defaultAvatarUrl = "../../App_Files/Images/UserAvatars/DefaultAvatar.jpg";


    if (Model.AvatarImage != null)
    {
        avatarUrl = Model.AvatarImage.PathToFile;
    }
    else
    {
        avatarUrl = defaultAvatarUrl;
    }
}

@Styles.Render("~/bundles/UserPanel")
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
@Html.Partial("_SideBar")

<div class="container pl-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="container-accout-edit">
                <div class="view-account">
                    <section class="module">
                        <div class="module-inner">

                            @Html.Partial("_SettingsSideBar", Model)

                            <div class="content-panel mb-3">
                                <h3 class="fieldset-title">Zmiana avatara</h3>
                                <img src="@avatarUrl" class="img-fluid pb-3 pt-3 output" alt="example placeholder" style="width:250px;border:solid; border-width:2px; border-color:lightgray">
                                <br><br>

                                @using (Html.BeginForm("EditAvatar", "UserPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    <label for="file">Wybierz nowy avatar:</label>
                                    <label class="btn btn-outline-dark mr-3 ml-3 ">
                                        <i class="fas fa-upload pl-1"></i>
                                        <input class="user-avatar-upload" type="file" name="file" id="file" style="width: 0px;height: 0px;overflow: hidden;">
                                    </label>
                                    @*<input type="file" name="file" id="file" /><br><br>*@
                                    <hr>
                                    <input type="submit" value="Zmień avatar" class="btn btn-dark" />
                                    <br><br>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('.user-avatar-upload').on('change', function (event) {
        console.log();
        jQuery('.output').attr('src', URL.createObjectURL(event.target.files[0]));

    });
</script>