@model ShopApp.Models.User

@Styles.Render("~/bundles/UserPanel")

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

@Html.Partial("_SideBar")


<div class="container pl-1">
    <div class=" row justify-content-center">
        <div class="btn-group btn-group-toggle pb-3 pl-4 ml-5" data-toggle="buttons">
            <label class="btn btn-outline-warning active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Zakup
            </label>
            <label class="btn btn-outline-warning">
                <input type="radio" name="options" id="option2" autocomplete="off"> Sprzedaż
            </label>
        </div>
    </div>
    <div class="row row-offer mb-4 mr-1">
        <div class="col p-0">
            <img src="https://www.mediaexpert.pl/media/cache/gallery/product/2/278/156/958/wycbkrkn/images/19/1975157/Laptop-ASUS-A509FA-prawy-skos.jpg" class="rounded float-left max-auto" style="width: 70px" alt="...">
        </div>
        <div class="col">
            Laptop ASUS
        </div>
        <div class="col p-0">Ilość x Cena</div>
        <div class="col">Suma</div>
        <div>
            <a class="btn" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-caret-down"></i></a>
        </div>
        <div class="collapse" id="collapse">

            <div class="row pl-2">
                <div class="col-6 col-sm-3 ">
                    <h5>Dane odbiorcy</h5>
                </div>

                <div class="col-6 col-sm-3">
                    <h5>Adres wysyłki</h5>
                </div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Jan</div>
                <div class="col-6 col-sm-3">Kurier DHL</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Kowalski</div>
                <div class="col-6 col-sm-3">3 maja 3/17a</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">3 maja 3/17a</div>
                <div class="col-6 col-sm-3">Kraków 11-123</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Kraków 11-123</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">111222333</div>

            </div>

            <div class="row pl-2 pt-2 pb-3">
                <div class="col-6 col-sm-3 ">
                    <h5>Data</h5>
                </div>
                <div class="col-6 col-sm-3 ">
                    <h5>Rodzaj transakcji</h5>
                </div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3 ">
                    12-11-2020
                </div>
                <div class="col-6 col-sm-3 ">
                    Zakup
                </div>
            </div>

        </div>

    </div>

    <div class="row row-offer mb-4 mr-1">
        <div class="col p-0">
            <img src="https://www.mediaexpert.pl/media/cache/gallery/product/2/278/156/958/wycbkrkn/images/19/1975157/Laptop-ASUS-A509FA-prawy-skos.jpg" class="rounded float-left max-auto" style="width: 70px" alt="...">
        </div>
        <div class="col">
            Laptop ASUS
        </div>
        <div class="col p-0">Ilość x Cena</div>
        <div class="col">Suma</div>
        <div>
            <a class="btn" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-caret-down"></i></a>
        </div>
        <div class="collapse" id="collapse1">

            <div class="row pl-2">
                <div class="col-6 col-sm-3 ">
                    <h5>Dane odbiorcy</h5>
                </div>

                <div class="col-6 col-sm-3">
                    <h5>Adres wysyłki</h5>
                </div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Karol</div>
                <div class="col-6 col-sm-3">Kurier DHL</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Nowak</div>
                <div class="col-6 col-sm-3">7 Mickiewicza 8/21b</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">7 Mickiewicza 8/21b</div>
                <div class="col-6 col-sm-3">Wrocław 10-293</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">Wrocław 10-293</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3">444555666</div>

            </div>

            <div class="row pl-2 pt-2 pb-3">
                <div class="col-6 col-sm-3 ">
                    <h5>Data</h5>
                </div>
                <div class="col-6 col-sm-3 ">
                    <h5>Rodzaj transakcji</h5>
                </div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-3 ">
                    22-11-2020
                </div>
                <div class="col-6 col-sm-3 ">
                    Sprzedaż
                </div>
            </div>

        </div>

    </div>
   

</div>

