@{
    if (Session["userId"] == null)
    {
        Response.Redirect("~/User/Login");
    }
    ViewBag.Title = "Twoje zamówieia";
}

@Styles.Render("~/bundles/UserPanel")

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

@Html.Partial("_SideBar", Request.RawUrl)

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="header-title pb-3 mt-0">Zamówienia</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Nazwa produktu</th>
                                    <th>Nazwa klienta</th>
                                    <th>Adres wysłki</th>
                                    <th>Forma zapłaty</th>
                                    <th>Data zamównia</th>
                                    <th>Kwota</th>
                                    <th>Transakcja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Komputer</td>
                                    <td>Jan Kowalski</td>
                                    <td>Katowice, ul Andrzeja 5/23a 40-080</td>
                                    <td>Paypal</td>
                                    <td>15/10/2020</td>
                                    <td>7.000 zł</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">W oczekiwaniu</span></td>
                                </tr>
                                <tr>
                                    <td>Telefon</td>
                                    <td>Karol Nowak</td>
                                    <td></td>
                                    <td>Paypal</td>
                                    <td>15/10/2020</td>
                                    <td>2.500 zł</td>
                                    <td><span class="badge badge-boxed badge-soft-primary">Zapłacono</span></td>
                                </tr>
                                <tr>
                                    <td>Klawiatura</td>
                                    <td>Anna Kowalczyk</td>
                                    <td></td>
                                    <td>Za pobraniem</td>
                                    <td>15/10/2020</td>
                                    <td>350 zł</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">W oczekwianiu</span></td>
                                </tr>
                                <tr>
                                    <td>Laptop</td>
                                    <td>Andrzej Wiśniewski</td>
                                    <td></td>
                                    <td>Karta Visa</td>
                                    <td>1/11/2020</td>
                                    <td>5.000 zł</td>
                                    <td><span class="badge badge-boxed badge-soft-primary">Zapłacono</span></td>
                                </tr>
                                <tr>
                                    <td>Słuchawki bezprzewodowe</td>
                                    <td>Zofia Nowak</td>
                                    <td></td>
                                    <td>Blik</td>
                                    <td>25/10/2020</td>
                                    <td>250 zł</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">W oczekiwaniu</span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>