@Styles.Render("~/bundles/UserPanel")
@Html.Partial("_SideBar")

<div class="container">
    <div class="row">
        <div class="col-12 pl-0">
            <div class="row  row-offer mr-1">
                <div class="col  pt-3 font-weight-bold">
                    <h3> Stwórz zestaw</h3>
                    <hr>
                </div>

            </div>
            <div class="row row-offer mr-1">
                <div class="col p-0">
                    <img src="https://www.mediaexpert.pl/media/cache/gallery/product/2/278/156/958/wycbkrkn/images/19/1975157/Laptop-ASUS-A509FA-prawy-skos.jpg" class="rounded float-left max-auto" style="width: 70px" alt="...">
                </div>
                <div class="col pt-1">
                    Laptop ASUS
                </div>
                <div class="col p-0 pt-1">Ilość</div>
                <div class="col p-0 pt-1">Cena</div>
                <div class="col p-0 pt-1">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Dodaj do zestawu
                        </label>
                    </div>
                </div>

            </div>
            <div class="row row-offer mr-1 pt-4">

                <div class="col p-0">
                    <img src="https://www.mediaexpert.pl/media/cache/gallery/product/2/278/156/958/wycbkrkn/images/19/1975157/Laptop-ASUS-A509FA-prawy-skos.jpg" class="rounded float-left max-auto" style="width: 70px" alt="...">
                </div>
                <div class="col pt-1">
                    Laptop ASUS
                </div>
                <div class="col p-0 pt-1">Ilość</div>
                <div class="col p-0 pt-1">Cena</div>
                <div class="col p-0 pt-1">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Dodaj do zestawu
                        </label>
                    </div>
                </div>
            </div>

            <div class="row row-offer mr-1">

                <div class="col p-0"></div>
                <div class="col pt-1">
                    <h4> Rabat </h4>
                </div>
                <div class="col p-0 pt-1">
                    <div class="form-check-inline">
                        <label class="form-check-label font-weight-bold">
                            <input type="radio" class="form-check-input" name="optradio">Tak
                        </label>
                    </div>
                </div>
                <div class="col p-0 pt-1">
                    <div class="input-group mb-3 mr-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">%</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div>
                </div>
                <div class="col p-0 pt-1">
                    
                </div>
            </div>
            <div class="row row-offer mr-1">
                <div class="col p-0"></div>
                <div class="col pt-1"></div>
                <div class="col p-0 pt-1">
                    <div class="form-check-inline">
                        <label class="form-check-label font-weight-bold">
                            <input type="radio" class="form-check-input" name="optradio">Bez
                        </label>
                    </div>

                </div>
                <div class="col p-0 pt-1">
                    <div class="input-group mb-3 mr-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">zł</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div>
                </div>
                <div class="col p-0 pt-1"></div>
            </div>

            <div class="row  justify-content-end row-offer mr-1 pt-3">

                <div class="col-4 font-weight-bold" style="font-size:18px;">
                    SUMA:
                </div>
                <div class="col-3 font-weight-bold" style="font-size:18px;">
                    2340 ZŁ
                </div>

            </div>

            <div class="row  justify-content-end row-offer mr-1 pt-3 pb-5">
                <div class="col-3" >
                    <button type="button" class="btn btn-dark">Stwórz zestaw</button>
                    </div>
                </div>
            </div>
        </div>

    </div>