.items-group {
    background-color: white;
}

.items-seller {
    font-size: 16px;
}

.seller-name, .seller-name:visited, .seller-name:hover {
    color: #FFB24A;
    cursor: pointer;
}

.item-name > a {
    color: black;
    font-size: 12px;
    word-break: break-word;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.bucket-summary {
    font-size: 16px;
}

.bucket-price {
    font-weight: 700;
}

.cashout-button,
.continue-button {
    width: 80%;
    background-color: #ffb24a;
    box-shadow: none;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 2px;
    color: white;
    border: 1px solid black;
}

.continue-button {
    color: rgb(77, 76, 76);
    background-color: white;
    border: 1px solid black;
}

.selected {
    outline: solid 2px #a7fc9f;
}

.bucket-summary {
    background-color: white;
}

@media (min-width: 992px) {
    .bucket {
        width: 50%;
    }

    .item-name > a {
        font-size: 16px;
    }

    .price {
        font-size: 20px;
    }

    .cashout-button,
    .continue-button {
        width: 60%;
        ;
    }

    .bucket-price {
        font-size: 26px;
    }
}