.items-group {
    background-color: white;
}

.items-seller {
    font-size: 16px;
}

.seller-name, .seller-name:visited, .seller-name:hover {
    color: #FFB24A;
    cursor: pointer;
}

.item-name > a {
    color: black;
    font-size: 12px;
    word-break: break-word;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.bucket-summary {
    font-size: 16px;
}

.bucket-price {
    font-weight: 700;
}

.cashout-button,
.continue-button {
    width: 80%;
    background-color: #ffb24a;
    box-shadow: none;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 2px;
    color: white;
    border: 1px solid black;
}

    .continue-button, .continue-button:hover, .continue-button:visited, .continue-button:focus {
        color: rgb(77, 76, 76);
        background-color: white;
        border: 1px solid black;
        text-decoration: none;
    }

.selected {
    outline: solid 2px #FFB24A;
}

.bucket-summary {
    background-color: white;
}

.addAddress, .addAddress:visited, .addAddress:hover, .addAddress:focus {
    color: #ffb24a;
    font-weight: 700
}


.fa-times {
    cursor: pointer;
}

.item {
    height: 300px;
}

.item-image > img {
max-height: 200px;
}

@media (min-width: 992px) {
    .bucket, .bucket-header {
        width: 60%;
    }

    .container-fluid {
        padding-top: 50px;
    }

    .item-name > a {
        font-size: 16px;
    }

    .price {
        font-size: 20px;
    }

    .cashout-button,
    .continue-button {
        width: 60%;
        ;
    }

    .bucket-price {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    .bucket, .bucket-header {
        width: 60%;
    }
    .container-fluid {
        padding-top: 70px;
    }
}