.horizontal-scrollable { 
    overflow-x: auto; 
    white-space: nowrap; 
    display: block;
} 
  
.horizontal-scrollable > .col{ 
    display: inline-block; 
    float: none;
} 

.horizontal-scrollable > .col > a {
    color: black;
}

.horizontal-scrollable > .col > a > p{ 
    font-size: 12px;
} 

.horizontal-scrollable > .col > a > i{ 
    font-size: 32px;
    color: black;
    padding: 15px;
    border-radius: 50%;
    min-width: 64px;
} 


.horizontal-scrollable > .col:nth-child(n) > a > i{ 
    background-color: #ffe3bf;
} 
.horizontal-scrollable > .col:nth-child(2n) > a > i{ 
    background-color: #ffc880;
} 
.horizontal-scrollable > .col:nth-child(3n) > a > i{ 
    background-color: #ffac3e;
} 
.horizontal-scrollable > .col:nth-child(4n) > a > i{ 
    background-color: #ff9100;
} 

@media (min-width: 1200px) {
    .horizontal-scrollable { 
        overflow-x: none; 
        white-space: normal;
    }
    h1 {
        font-size: 42px;
    }
    .horizontal-scrollable > .col > a > p{ 
        font-size: 24px;
    } 
    .horizontal-scrollable > .col > a > i{ 
        font-size: 36px;
        color: black;
        padding: 32px;
        border-radius: 50%;
    }
}