.categories-row > .col > a {
    color: black;
}

    .categories-row > .col > a > p {
        font-size: 12px;
    }

    .categories-row > .col > a > i {
        font-size: 28px;
        color: black;
        padding: 15px;
        border-radius: 50%;
        width: 68px;
        border: solid 1px black;
    }

    .categories-row > .col > a > i {
        background-color: #ffc880;
    }

@media (min-width: 576px) {
    .categories-row > .col > a > i {
        width: 68px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }
    .categories-row > .col > a > p {
        font-size: 18px;
    }
    .categories-row > .col > a > i {
        font-size: 36px;
        padding: 32px;
        width: 108px;
    }
}