.error-info {
    font-size: 18px;
}

h1 {
    color: grey;
    font-size: 64px;
}

h2 {
    font-size: 25px;
}

.error-info > .btn {
    background-color: #FFB24A;
    border: none;
    font-size: 16px;
    padding: 8px;
    margin: 6px;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:focus {
    background-color: #FFB24A !important;
}