.offer {
  background-color: white;
  font-size: 14px;
  padding: 10px;
  word-wrap: break-word;
}

.seller-name:hover, .seller-name:visited {
  color: #FFB24A;
}

#carousel-offer > .carousel-inner {
  height: 300px !important;
  background-color: white;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carausel-custom-icon{
  color:white; 
  font-size:40px; 
  text-shadow: -3px 0 3px black, 0 3px 3px black, 3px 0 3px black, 0 -3px 3px black;
}

.product-name {
  font-weight: 700;
  font-size: 26px;
  word-break: break-all;
}

.seller-name {
  color: #FFB24A;
  font-weight: 700;
}

.product-price {
  font-size: 26px;
  font-weight: 700;
}

.product-fav {
  font-size: 22px;
  transition: 0.4s;
  color: grey;
  cursor: pointer;
}

.fav-active {
  color: red !important;
}

.offer-button, .offer-button:active, .offer-button:hover, .offer-button:focus {
    background-color: #FFB24A;
    box-shadow: none;
    border: none !important;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 2px;
    color: white;
    outline: none;
}

.offer-button.in-bucket, .offer-button.in-bucket:active, .offer-button.in-bucket:hover, .offer-button.in-bucket:focus {
        background-color: grey;
        cursor: not-allowed !important;
        border: none !important;
        outline: none;
}

.carousel-item {
    position: relative;
    height: 100%;
}

    .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* BUNDLE OFFERS */
.bundle-offers {
    background-color: white;
}
.bundle-product-name {
    color: black;
    font-size: 18px;
    word-break: break-all;
}

.bundle-product-price {
    font-weight: 700;
    font-size: 16px;
}

.bundle-seller-name {
    color: #FFB24A;
    font-weight: 700;
}

.bundle-seller-name:hover, .seller-name:visited {
        color: #FFB24A;
}

.bundle-product-name:hover, .product-name:active {
    color: #6684A1;
}

.bundle-product-fav {
    font-size: 14px;
    transition: 0.4s;
    color: grey;
    float: right;
    clear: both;
}

.bundle-fav-active {
    color: red !important;
}

.bundle-addToBucket {
    color: #FFB24A;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.bundle-addToBucket:hover, .addToBucket:visited {
    color: #FFB24A;
}

.bundle-offer {
    height: 380px;
}

.bundle-offer-img > img {
    max-height: 200px;
}

.bundle-addToBucket.in-bucket, .bundle-addToBucket.offer-button.in-bucket:active, .bundle-addToBucket.offer-button.in-bucket:hover, .bundle-addToBucket.offer-button.in-bucket:focus {
    color: grey;
    cursor: not-allowed !important;
    border: none !important;
    outline: none;
}

.bundle-info {
    background-color: white;
}


.bundle-info-offer-img {
    max-height: 200px !important;
}

.bundle-info-offer-name, .bundle-info-offer-name:active, .bundle-info-offer-name:focus, .bundle-info-offer-name:visited {
    font-weight: 700;
    font-size: 14px;
    color: black;
    word-break: break-word;
}

.bundle-info-offer-name:hover {
    color: #6684A1;
}

.img-div {
    height: 200px;
}

/* RESPONSIVE BREAKPOINTS */
@media (min-width: 576px) {
    #carousel-offer > .carousel-inner {
    height: 500px !important;
  }
}

@media (min-width: 992px) {
  .offer {
      width: 60%;
  }
  .bundle-offers {
    width: 60%;
  }
  .bundle-info {
      width: 60%;
  }
  #carousel-offer > .carousel-inner {
    height: 620px !important;
  }

  .offer {
    font-size: 16px;
  }

  .offer-info {
    position: relative;
  }
  
  .offer-info > form {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

   .offer-button {
    width: 100%;
   }

    .bundle-product-name {
        font-size: 26px;
    }

    .bundle-product-price {
        font-size: 22px;
    }

    .bundle-product-fav {
        font-size: 22px;
    }

    .bundle-addToBucket {
        font-size: 16px;
    }
}