.offer {
  background-color: white;
  font-size: 14px;
  padding: 10px;
  word-wrap: break-word;
}

.seller-name:hover, .seller-name:visited {
  color: #FFB24A;
}

#carousel-offer > .carousel-inner {
  height: 300px !important;
  background-color: white;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.product-name {
  font-weight: 700;
  font-size: 26px;
}

.seller-name {
  color: #FFB24A;
  font-weight: 700;
}

.product-price {
  font-size: 26px;
  font-weight: 700;
}

.product-fav {
  font-size: 22px;
  transition: 0.4s;
  color: grey;
  cursor: pointer;
}

.fav-active {
  color: red !important;
}

.offer-button, .offer-button:active, .offer-button:hover, .offer-button:focus {
    background-color: #FFB24A;
    box-shadow: none;
    border: none !important;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 2px;
    color: white;
    outline: none;
}

.in-bucket, .in-bucket:active, .in-bucket:hover, .in-bucket:focus {
    background-color: grey;
    cursor: not-allowed !important;
    border: none !important;
    outline: none;
}

.carousel-item {
    position: relative;
    height: 100%;
}

    .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/* RESPONSIVE BREAKPOINTS */
@media (min-width: 576px) { 
  #carousel-offer > .carousel-inner {
    height: 500px !important;
  }
}

@media (min-width: 992px) {
  #carousel-offer > .carousel-inner {
    height: 620px !important;
  }

  .offer {
    font-size: 16px;
  }

  .offer-info {
    position: relative;
  }
  
  .offer-info > form {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

   .offer-button {
    width: 100%;
  }

}