
/*user profil*/

body {
    padding-top: 68px;
   
}
.image-container {
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image-container:hover .image {
    opacity: 0.3;
}
.image-container:hover .middle {
    opacity: 1;
}
.container{
    padding-top:20px;
}

@media (min-width: 768px)
{
    .container, .container-sm, .container-md {
        max-width: 600px;
    }
}
@media (max-width: 576px)
{
    .container, .container-sm {
        max-width: 500px;
        padding-left: 70px;
    }

}

/*user profil edit*/
.view-account {
    background-color: #FFFFFF;
}
    .view-account .pro-label {
        font-size: 13px;
        padding: 4px 5px;
        position: relative;
        top: -5px;
        margin-left: 10px;
        display: inline-block;
        background-color:pink;

    }

    .view-account .side-bar {
        padding-bottom: 10px;
        padding-top:0px;
       
    }

        .view-account .side-bar .user-info {
            text-align: center;
            margin-bottom: 15px;
            padding: 30px;
            color: #616670;
            border-bottom: 1px solid #f3f3f3;
        }


        .view-account .side-bar .side-menu {
            text-align: center
        }

            .view-account .side-bar .side-menu .nav {
                display: inline-block;
                margin: 0 auto
            }

                .view-account .side-bar .side-menu .nav > li {
                    font-size: 14px;
                    margin-bottom: 0;
                    border-bottom: none;
                    display: inline-block;
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 15px
                }

                    .view-account .side-bar .side-menu .nav > li:last-child {
                        margin-right: 0
                    }

                    .view-account .side-bar .side-menu .nav > li > a {
                        display: inline-block;
                        color: #002447;
                        padding: 5px;
                        
                    }



                    .view-account .side-bar .side-menu .nav > li.active a {
                        color: #002447;
                        
                        background: none;
                        border-right: none
                    }



.view-account .side-bar .side-menu .nav > li .icon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px
}

.view-account .content-panel {
    padding: 30px
}

    .view-account .content-panel .title {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 18px
    }

    .view-account .content-panel .fieldset-title {
        padding-bottom: 15px;
        border-bottom: 1px solid #eaeaf1;
        margin-bottom: 30px;
        color: #616670;
        font-size: 16px
    }


    .view-account .content-panel .content-header-wrapper {
        position: relative;
        margin-bottom: 30px
    }

        .view-account .content-panel .content-header-wrapper .actions {
            position: absolute;
            right: 0;
            top: 0
        }

    .view-account .content-panel .content-utilities {
        position: relative;
        margin-bottom: 30px
    }

        .view-account .content-panel .content-utilities .btn-group {
            margin-right: 5px;
            margin-bottom: 15px
        }

        .view-account .content-panel .content-utilities .fa {
            font-size: 16px;
            margin-right: 0
        }

        .view-account .content-panel .content-utilities .page-nav {
            position: absolute;
            right: 0;
            top: 0
        }

            .view-account .content-panel .content-utilities .page-nav .btn-group {
                margin-bottom: 0
            }

            .view-account .content-panel .content-utilities .page-nav .indicator {
                color: #a2a6af;
                margin-right: 5px;
                display: inline-block
            }

    .view-account .content-panel .mails-wrapper .mail-item {
        position: relative;
        padding: 10px;
        border-bottom: 1px solid #f3f3f3;
        color: #616670;
        overflow: hidden
    }





@media (max-width:414px) {
   

    .view-account .content-panel {
        max-height: 568px;
        margin-bottom:2.5rem;
    }
    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 5px;
        
    }

    .view-account .mail-subject .subject {
        
        max-width: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

@media (min-width:607px) {
    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 15px
    }

    .view-account .mail-subject .subject {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}


@media (min-width:768px) {
    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 15px
    }

    .view-account .mail-subject .subject {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

@media (min-width:811px) {
    .view-account .content-panel {
        min-height: 800px;
        border-left: 1px solid #FFB24A;
        margin-left: 200px
    }

    .view-account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .view-account .side-bar {
        position: absolute;
        width: 200px;
        min-height: 600px
    }

        .view-account .side-bar .user-info {
            margin-bottom: 0;
            border-bottom: none;
            padding: 30px
        }


        .view-account .side-bar .side-menu {
            text-align: left
        }

            .view-account .side-bar .side-menu .nav {
                display: block
            }

                .view-account .side-bar .side-menu .nav > li {
                    display: block;
                    float: none;
                    font-size: 14px;
                    border-bottom: 1px solid #f3f3f7;
                    margin-right: 0;
                    margin-bottom: 0
                }

                    .view-account .side-bar .side-menu .nav > li > a {
                        display: block;
                        color: #FFB24A;
                        padding: 10px 15px;
                        padding-left: 30px
                    }

                        .view-account .side-bar .side-menu .nav > li > a:hover {
                            background: #FFB24A;
                        }

                    .view-account .side-bar .side-menu .nav > li.active a {
                        background: #f9f9fb;
                        border-right: 4px solid #FFB24A;
                        border-bottom: none
                    }


                    .view-account .side-bar .side-menu .nav > li .icon {
                        font-size: 24px;
                        vertical-align: middle;
                        text-align: center;
                        width: 40px;
                        display: inline-block
                    }
}

/*Add product*/
.form-horizontal .add-produt {
    background: #FFFFFF;
    margin-top:25px;
}
.use-add-product {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background: #FFFFFF;
   
}
@media (max-width:767px) {
    .form-horizontal .add-produt {
        text-align: center;
    }
}


/*//Responsywne side menu */

.bg-dark {
    background-color: #DCDCDC !important;
}

.navbar-vertical {
    height: calc(100vh - 57px);
    overflow: auto;
    padding: 0.5rem 1rem;
    position: fixed;
    transition: left 0.31s;
    left: 0;
    top: 57px;
    overflow-y: auto;
    z-index: 1;
}
.navbar-brand {
    margin-right: 0;
    padding-right: 1.5rem;
    display: block;
}
.navbar-toggler {
    border: none;
    padding: 0;
    display: inline-block;
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    cursor: pointer;
}
ul.navbar-nav {
    width: 3rem;
    margin-top: 1rem;
}
.side-nav {
    padding-top: 30px;
    margin-bottom: 10px;
    position: relative;
    display: table-cell;
    width: 20px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
}
.title {
    font-size: 0px;
    margin-bottom: 15px;
}
.container-fluid {
    min-height: calc(100vh - 98px);
    padding-top: 16px;
}
a:active {
    color: yellow;
}
@media screen and (min-width:1200px) {
    ul .side-nav {
        width: 10rem;
    }

    .side-nav {
        font-size: 33px;
    }

    .title {
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }
    a:hover{
        text-decoration:none;

        
    }
}

    /*AccountMessage*/

    .container py-5 px-4 {
        background-image: linear-gradient(90deg, #002447 0%, #FFB24A 100%);
    }

    body {
        background-color: #74EBD;
        min-height: 100vh;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        width: 5px;
        background: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        width: 1em;
        background-color: #ddd;
        outline: 1px solid slategrey;
        border-radius: 1rem;
    }

    .text-small {
        font-size: 0.9rem;
    }

    .messages-box,
    .chat-box {
        height: 510px;
        overflow-y: scroll;
    }

    .rounded-lg {
        border-radius: 0.5rem;
    }

   

    