################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ShopApp/obj/Debug/ShopApp.pdb
