html{
    font-size: 12px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ECF9FF;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

#searchButton{
    background-color: #4E72D0;
}

.nav-link{
    font-size: 15px;
}

.nav-link > i{
    font-size: 14px;
}

.fa-search{
    color: #ECF9FF;
    font-size: 14px;
}

h2{
    font-family: 'Roboto', sans-serif;
}

.fa-stripe-s{
    color: #4E72D0;
    font-size: 28px;
}

.btn-primary{
    background-color: #4E72D0;
    border-style: none;
}

.btn-primary:hover{
    background-color: #2850b6;;
}

a{
    color: #4E72D0;
}

a:hover{
    color: #2850b6;
}

@media (min-width: 768px) {
    .nav-item{
        text-align: center;
    }
    .nav-link{
        font-size: 12px;
    }
    .nav-link > i{
        font-size: 12px;
    }
    .fa-stripe-s{
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 14px;
    }
    .nav-link{
        font-size: 16px;
        cursor: pointer;
    }
    .nav-link > i{
        font-size: 16px;
        margin-right: 2px;
    }

    h1{
        font-size: 38px;
    }
    
    .fa-stripe-s{
        font-size: 52px;
    }
}