@{
    ViewBag.Title = "To do About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="data">
    <caption>
        Greensprings Running Club Personal Bests
    </caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">1 mile</th>
            <th scope="col">5 km</th>
            <th scope="col">10 km</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mary</th>
            <td>8:32</td>
            <td>28:04</td>
            <td>1:01:16</td>
        </tr>
        <tr>
            <th scope="row">Betsy</th>
            <td>7:43</td>
            <td>26:47</td>
            <td>55:38</td>
        </tr>
        <tr>
            <th scope="row">Matt</th>
            <td>7:55</td>
            <td>27:29</td>
            <td>57:04</td>
        </tr>
        <tr>
            <th scope="row">Todd</th>
            <td>7:01</td>
            <td>24:21</td>
            <td>50:35</td>
        </tr>
    </tbody>
</table>
