

@model IEnumerable<ShopApp.Models.Offer>


@if (Model != null)
{

    
    <div class="d-flex justify-content-sm-between flex-wrap">
        @foreach (var item in Model)
        {
            <div class="offer-box">
                <img src=""/>
                <h2>@item.Title</h2>
                <p>@item.Description</p>
            </div>
           
        }
    </div>
   

}