


@{ 
    if(Session["userId"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}
@model IEnumerable<ShopApp.Models.Offer>
<div style="height: 30px;">
    <div style="width:100%;   padding-bottom:40px;">
        <select name="cars" id="cars" value="Kategorie">
            <option value="">Kategoria 1</option>
            <option value="">Kategoria 2</option>
            <option value="">Kategoria 3</option>
            <option value="">Kategoria 4</option>
        </select>
    </div>
</div>
    <div class="d-flex justify-content-center flex-wrap">
        @foreach (var item in Model)
        {
        <div class="offer-box">
       
                <img class="img-fluid rounded" style="height:50%;" src="~/Images/product.jpg" />
                <h2>@item.Title</h2>
                <p>@item.Description</p>
           

        </div>
           
        }
    </div>
   

