@model IEnumerable<ShopApp.Models.Offer>

@*
    GDY BRAK PRODUKTU W DANEJ KATEGORII WYŚWIETL: ERROR / POWIADOMIENIE
*@
@{
    if(Model.Count() == 0)
    {
        <h1>
            BRAK OFERT W DANEJ KATEGORII
        </h1>
    }

    foreach (var item in Model)
    {
        string pictureUrl = string.Empty;
        if (item.OfferPictures.Count > 0)
        {
            pictureUrl = item.OfferPictures.ToList()[0].PathToFile;
        }
        else
        {
            pictureUrl = @"..\..\App_Files\Images\OfferPictures\DefaultOfferPicture.jpg";
        }

        <a href="@Url.Action("Offer",new { OfferID = item.OfferID})">
            <div class="offer-box">
                <img class="img-fluid rounded" style="height:50%;" src="@pictureUrl" />
                <h2>@item.Title</h2>
                <p>@item.Description</p>
            </div>
        </a>
    }
}


