@*@{
        string email = Request["email"];
        ShopApp.Models.User tmpUser;

        using (var db = new ShopApp.DAL.ShopContext())
        {
            tmpUser = db.Users.Where(u = u.Email ==)
        }
    }*@
@model string
<div class="messages-box h5">
    <div class="alert alert-success">POMYŚLNIE POTWIERDZONO REJESTRACJĘ DLA @Model!</div>
</div>



