@model ShopApp.Models.User

@Styles.Render("~/bundles/LoginAndRegistration")


<div class="row justify-content-center text-left">
    <div class="col-12 col-md-8 col-lg-5 col-xl-4 absolute m-5 m-lg-0">
        <form id="signinForm" name="signinForm" method="post" class="signinForm shadow p-5 m-2 bg-white rounded">
            <div class="row justify-content-center">
                <i class="fas fa-shopping-bag formlogo mb-2"></i>
            </div>
            <div class="row justify-content-center">
                <h2 class="mb-4">Odzyskiwanie hasła</h2>
            </div>
            <label for="codeInput">Kod do zmiany hasła</label>
            <input type="text" id="codeInput" name="codeInput" class="form-control mb-2" required>
            <div id="codeInput_validation" class="invalid-feedback d-block text-left"> </div>
            <label for="password">Hasło</label>
            <input type="password" id="passwordInput" name="EncryptedPassword" class="form-control mb-2" required>
            <div id="passwordInput_validation" class="invalid-feedback d-block text-left"> </div>
            <label for="passwordRegisterInput2">Potwierdź hasło</label>
            <input type="password" id="passwordRegisterInput2" name="passwordRegisterInput2" class="form-control mb-2" required>
            <div id="passwordRegisterInput2_validation" class="invalid-feedback d-block text-left"> </div>
            <hr />
            <input type="submit" name="restorePasswordInput" value="Zmień hasło" class="bt btn-lg btn-primary btn-block mt-1 mb-1">
            <div class="row justify-content-center">
                <a href="@Url.Action("Login","User")">Powrót do logowania</a>
            </div>
            <div class="messages-box h5">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            </div>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/RestorePasswordjs")