@model ShopApp.Models.Product
@using ShopApp.Models
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //Adding new User to database
    //var context = new ShopEntities();
    //var user = new User()
    //{
    //    Login = "DefaultUser",
    //    Password = "StrongPassword",
    //    City = "Katowice"
    //};

    //context.User.Add(user);
    //context.SaveChanges();


    //Getting user
    using (var context = new ShopEntities())
    {
        // Query for all blogs with names starting with B
        //var blogs = from b in context.User
        //            where b.Name.StartsWith("B")
        //            select b;

        // Query for the Blog named ADO.NET Blog
        var user = context.Users
                        .Where(u => u.Login == "jacek2000")
                        .FirstOrDefault();

        string info = user.UserID + " - " + user.Login + " - ";
        string encryptedPass = user.EncryptedPassword;
        string decryptedPass = Cryptographing.Decrypt(user.EncryptedPassword);


        <h1>@info</h1>
        <h2>@encryptedPass</h2>
        <h3>@decryptedPass</h3>
    }
}



<h2>@Model.Name</h2>

