@model ShopApp.ViewModels.RandomProductViewModel
@using ShopApp.Models
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Product.Name</h2>
Zamawiający
@if (Model.Customers.Count == 0)
{
    <p>No one ordered this product yet!</p>
}
else
{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            @customer.Name
        </li>
    }

</ul>
}





